# Configuration file

main {
    # Set to false to disable Future MC compatibility. This removes the ability to craft the Netherite Smash Bat if Future MC is loaded. Does nothing if Future MC is not loaded. [default: true]
    B:"Allow Future MC compat"=true

    # Set to false to disable Netherized (Kedition) compatibility. This removes the ability to craft the Netherite Smash Bat if Netherized (Kedition) is loaded. Does nothing if it is not loaded. [default: true]
    B:"Allow Netherized (Kedition) compat"=true

    # Set to true to allow riding flying mobs. Hostile mobs like Ghasts may not like this. Use at your own risk. [default: false]
    B:"Allow riding flying mobs"=false
}


